<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mkCursorClip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <mkCursorClip.Properties.Settings>
            <setting name="top" serializeAs="String">
                <value>26</value>
            </setting>
            <setting name="bottom" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="left" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="right" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="keyOne" serializeAs="String">
                <value>LSHIFT</value>
            </setting>
            <setting name="keyTwo" serializeAs="String">
                <value>OEM_102</value>
            </setting>
        </mkCursorClip.Properties.Settings>
    </userSettings>
</configuration>